<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--==================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--==================================================================-->

    <style>
        .mid {
            width: 600px;
            height: 100px;
            padding: 100px;
            position: relative;
            margin: auto;
        }

        p {text-align: center;}

        .horizontal-button {
            width: 100%;
        }

        .custom-button {
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div id="app">
        <!--==================================================================-->
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="/home" class="navbar-brand d-flex align-items-center"><strong>Home</strong></a>
                    <button class="custom-button" @Click="showBooks(); getAllBook();">Books</button>
                    <button class="custom-button" @Click="showAuthors(); getAllAuthor();">Authors</button>
                    <button class="custom-button" @Click="showPublishers(); getAllPublisher();">Publishers</button>
                    <form th:action="@{/logout}" method="post">
                        <input class="custom-button" type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </header>
        <!--==================================================================-->

        <p class="mid" v-if="tempVal == 0">Hoşgeldiniz, İlgili Butona Basınız</p>

        <table class="table">

            <thead>
                <tr v-if="tempVal == 1">
                    <th scope="col">Book Name</th>
                    <th scope="col">Book's Author</th>
                    <th scope="col">Book's Publisher</th>
                    <th scope="col">Details</th>
                </tr>

                <tr v-if="tempVal == 2">
                    <th scope="col">Author Name</th>
                    <th scope="col">Author's Book</th>
                    <th scope="col">Details</th>
                </tr>

                <tr v-if="tempVal == 3">
                    <th scope="col">Publisher Name</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>



            <tbody v-if="tempVal == 1" v-for="book in books">
                <tr>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.publisher}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" @Click="openBookDetails(book.id)">Details</button>
                    </td>
                </tr>
            </tbody>

            <tbody v-if="tempVal == 2" v-for="author in authors">
                <tr>
                    <td>{{author.name}} {{author.surname}}</td>
                    <td>{{author.book}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" @Click="openAuthorDetails(author.id)">Details</button>
                    </td>
                </tr>
            </tbody>

            <tbody v-if="tempVal == 3" v-for="publisher in publishers">
                <tr>
                    <td>{{publisher.name}}</td>
                    <td>{{publisher.book}}</td>
                    <td>
                        <button class="btn btn-sm btn-success"
                            @Click="openPublilsherDetails(publisher.id)">Details</button>
                    </td>
                </tr>
            </tbody>

        </table>

        <button v-if="tempVal == 1" class="btn btn-sm btn-success horizontal-button" @Click="addNewBook()">Add New
            Book</button>
        <button v-if="tempVal == 2" class="btn btn-sm btn-success horizontal-button" @Click="addNewAuthor()">Add New
            Author</button>
        <button v-if="tempVal == 3" class="btn btn-sm btn-success horizontal-button" @Click="addNewPublisher()">Add New
            Publisher</button>

    </div>
    <!--==================================================================-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--==================================================================-->

</body>

<script>

    new Vue({
        el: '#app',
        data: {
            books: [],
            authors: [],
            publishers: [],
            tempVal: 0
        },
        methods: {
            getAllBook() {
                axios.get('http://localhost:8080/api/get/getAllBook')
                    .then(function (response) {
                        this.books = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getAllAuthor() {
                axios.get('http://localhost:8080/api/get/getAllAuthor')
                    .then(function (response) {
                        this.authors = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getAllPublisher() {
                axios.get('http://localhost:8080/api/get/getAllPublisher')
                    .then(function (response) {
                        this.publishers = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            showBooks() {
                this.tempVal = 1;
            },
            showAuthors() {
                this.tempVal = 2;
            },
            showPublishers() {
                this.tempVal = 3;
            },
            openBookDetails(id) {
                window.location = "/detailsOfBook/" + id;
            },
            openAuthorDetails(id) {
                window.location = "/detailsOfAuthor/" + id;
            },
            openPublisherDetails(id) {
                window.location = "/detailsOfPublisher/" + id;
            },
            addNewBook() {
                window.location = "/addBook/";
            },
            addNewAuthor() {
                window.location = "/addAuthor/";
            },
            addNewPublisher() {
                window.location = "/addPublisher/";
            }
        }
    });

</script>

</html>